:root {
  --off-yellow: #fcecb4;
  --sky-blue: #d3dcec;
  --orange: #b95d3f;
  --light-brown: #704828;
  --dark-brown: #413524;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

nav {
  background-color: var(--off-yellow);
}

.introHistory {
  background-color: var(--sky-blue);
}

.roomsSection {
  background-color: var(--orange);
  color: #f4f4f4;
}

.restaurantsSection {
  background-color: var(--light-brown);
  color: #f4f4f4;
}

a {
font-size: 30px;
  font-variant: small-caps;
  font-weight: bold;
  color: black;
  }

h1, h2, h3, h5 {
  padding-bottom: none;
  font-variant: small-caps;
}

h1 {
  font-size: 60px;
  font-weight: bolder;
}

h2 {
  text-align: right;
}

p {
  margin: 10px 0px;
}

.hotelDesc {
  text-align: left;
  font-variant: small-caps;
}

.introHistory {
  margin: 25px 25px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.autoSlides {
  display: none;
  width: 100%;
  height: 85%;
}

.card-group {
  width: 65%;
  height: 100%;
  text-align: center;
  padding: 20px;
  margin-left: 25px;
  color: black;
}

.card-header {
  font-variant: small-caps;
  text-align: center;
}

.card {
  height: 100%;
  color: black;
}

#roomTypes {}

#roomPrices {
  margin-left: 50px;
}

#roomBooking {
  margin-bottom: 20px;
  margin-left: 70px;
}

#restaurantTypes {}

#restaurantPrices {
  margin-left: 50px;
}

#restaurantBooking {
  margin-bottom: 20px;
  margin-left: 70px;
}

.btn:hover {
  color: blue;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-primary {
  background: #cb4c3a;
  color: #fff;
}

.box {
  float: left;
  width: 33.3%;
  text-align: center;
  padding: 50px;
}

.box i {
  margin-bottom: 20px;
}

footer {
  background-color: var(--dark-brown);
  text-align: center;
  color: #f4f4f4;
  padding: 20px;
}
